# We need this so that Electron Forge works the pnpm package
# manager, because Electron Forge will attempt to crawl our
# apps dependencies to rebuild any native modules, but it
# doesn't really take into account symlinks
node-linker=hoisted
