h1 { font-size: 1.375rem; }
h2 { font-size: 1.125rem; }
h3 { font-size: 1rem; }
h4, th { font-size: .875rem; }
h5, th, p { font-size: .75rem; }
h6 { font-size: .6875rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: $title-font-weight;
  font-family: var(--fonts-sans);
  font-size:   var(--fontSizes-base);
  color: var(--colors-fgBase);
}

dt, th {
  font-family: var(--fonts-sans);
  font-size:   var(--fontSizes-base);
}

body {
  font-weight: var(--fontWeights-base);
  font-size:   var(--fontSizes-base);
  font-family: var(--fonts-sans)
}

input, textarea {
  font-family: var(--fonts-sans);
}

input, textarea, select {
  font-size: 100%;
}

p {
  line-height: 1.44;
  color: var(--colors-fgBase);
}
