$base-text-color: #FFF;
$base-background: #FFF;

$font-sans: 'gg sans', 'Lato', sans-serif;
$font-serif: serif;
$font-monospace: 'Inconsolata', monospace;
$font-decorative: 'Inconsolata';

$base-font-color: black;
$base-font-family: $font-sans;
$base-font-weight: 400;
$base-font-size: 16px;
$base-font-style: normal;
$base-line-height: 1.5;

$title-font-family: $font-sans;
$title-font-weight: 500;
$title-font-style: normal;
$title-font-size: 16px;
$title-font-color: black;
