// Futhark icons
// -------------

@font-face {
  font-family: 'Futhark Icons';
  font-weight: normal;
  font-style:  normal;
  src: url('@static/fonts/Futhark/futhark-icons.woff') format('woff');
}

// Share Tech Mono
// ---------------

@font-face {
  font-family: 'Share Tech Mono';
  font-weight: 400;
  font-style:  normal;
  src: url('@static/fonts/ShareTechMono/ShareTechMono-Regular.woff2') format('woff2');
}

// Chillax
// -------

@font-face {
  font-family: 'Chillax';
  font-weight: 400;
  font-style: normal;
  src: url('@static/fonts/Chillax/Chillax-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Chillax';
  font-weight: 500;
  font-style: normal;
  src: url('@static/fonts/Chillax/Chillax-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Chillax';
  font-weight: 600;
  font-style: normal;
  src: url('@static/fonts/Chillax/Chillax-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Chillax';
  font-weight: 700;
  font-style: normal;
  src: url('@static/fonts/Chillax/Chillax-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Chillax';
  font-weight: 800;
  font-style: normal;
  src: url('@static/fonts/Chillax/Chillax-Variable.woff2') format('woff2');
}

// Pangram
// -------

@font-face {
  font-family: 'Pangram';
  font-weight: 400;
  font-style: normal;
  src: url('@static/fonts/Pangram/Pangram-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pangram';
  font-weight: 500;
  font-style: normal;
  src: url('@static/fonts/Pangram/Pangram-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pangram';
  font-weight: 500;
  font-style: italic;
  src: url('@static/fonts/Pangram/Pangram-ExtraboldItalic.woff2') format('woff2');
}

// Lato
// ----

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style:  normal;
  src: url('@static/fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style:  normal;
  src: url('@static/fonts/Lato/Lato-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style:  italic;
  src: url('@static/fonts/Lato/Lato-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style:  italic;
  src: url('@static/fonts/Lato/Lato-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  font-style:  normal;
  src: url('@static/fonts/Lato/Lato-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  font-style:  italic;
  src: url('@static/fonts/Lato/Lato-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style:  normal;
  src: url('@static/fonts/Lato/Lato-Hairline.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style:  italic;
  src: url('@static/fonts/Lato/Lato-HairlineItalic.woff2') format('woff2');
}

// gg Sans
// -------

@font-face {
  font-family: 'gg sans';
  font-weight: 800;
  font-style:  bold;
  src: url('@static/fonts/gg-sans/ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'gg sans';
  font-weight: 700;
  font-style:  bold;
  src: url('@static/fonts/gg-sans/Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'gg sans';
  font-weight: 600;
  font-style:  bold;
  src: url('@static/fonts/gg-sans/SemiBold.woff2') format('woff2');
}


@font-face {
  font-family: 'gg sans';
  font-weight: 500;
  font-style:  bold;
  src: url('@static/fonts/gg-sans/Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'gg sans';
  font-weight: 400;
  font-style:  normal;
  src: url('@static/fonts/gg-sans/Normal.woff2') format('woff2');
}

@font-face {
  font-family: 'gg sans';
  font-weight: 400;
  font-style:  italic;
  src: url('@static/fonts/gg-sans/Normal-Italics.woff2') format('woff2');
}


